:root{
    --dark-gray: #1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;

    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --white: #FFFFFF;

    --primary: #C92071;
    --secondary: #B5B6F2;
    --tertiary: #991956;
    
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;

    /* image */
    --primary-gradient: linear-gradient(to bottom, #C92071, #EDABCA);
    --secondary-gradient: linear-gradient(to bottom, #B5B6F2, #EFEFFF);
    
}

main {
    background-color:#F9F8FE;
}

.carrosel1 {
    background-color: var(--light-gray-3);
    padding-bottom: 140px;

    .carroselTexto{
        width: 480px;
        margin-top: 120px;
        margin-left: 90px;

        .p1{
            font-weight: bold;
            color: var(--warning);
            font-size: 20px;
        }

        h1{
            font-weight: bold;
            font-size: 65px;
        } 
        
        .p2{
            margin-top: 20px;
            color: var(--dark-gray-2);
            font-size:20px;
        }
    }

    .White-Sneakers1 {
        margin-top: 120px;
        margin-left: 100px;
    }

    .Ornament11 {
        margin-top: 70px;
        padding-left: 40px;
    }
}


.tituloCards {
    margin: 40px 0px 0px 95px;
    font-weight: bold;
    color: var(--dark-gray-2);
}
.cards {
    margin: 20px 90px;

    h1 {
    color: var(--dark-gray-2);
    font-size: 25px;
    margin: 20px 0px;
    font-weight: bold;
    }
}
.myCard {
    height: 251px;
    width: 405px;
    margin: 0px 6px;
    border-radius: 8px;
    background-color: #D8E3F2;
    
    div {

        width: 225px;
        padding-left: 30px;
        padding-top: 35px;

        p {
            
        }

        h3 {
            margin: 10px 0px;
            font-weight: bold;
            font-size: 32px;
        }

        button {
            font-size: 18px;
            
        }
    }
}
.descontos {
    display: flex;
    width: 100px;
    margin: 0px;
    border-radius: 29px;
    padding: 6px;
    color: var(--dark-gray-2);
    font-size: 14px;
    font-weight: bold;
    background-color: #E7FF86;
    justify-content: center;
}

.card1 {
    background-position: 162px 7px;
    background-repeat: no-repeat;
    background-image: url('img/star-wars-storm-trooper-supreme-shirts-supreme-t-shirt-snoopy-clothing-apparel-t-shirt.png');
}
.card2 {
    background-position: 162px -1px;
    background-repeat: no-repeat;
    background-image: url('img/tenis.png');
}
.card3{
    background-position: 178px -1px;
    background-repeat: no-repeat;
    background-image: url('img/fones.png');
}

.tituloIcones {
    align-self: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--dark-gray-2);
}
.icones {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 700px;
    margin-bottom: 100px;
    /* o sombreamento da camiseta esta dentro da tag no html */
    
    div {

        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            width: 100px;
            height: 100px;
            background-color: white;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            img {
                width: 64px;
                height: 64px;
            }
        }
        p {
            font-weight: 700;
            font-size: 14px;
            color: var(--dark-gray-2);
            margin-top: 15px;
        }
    }
}

.tituloProdutos {
    margin-right: 95px;
    display: flex;
    justify-content: space-between;
    h1 {
        font-weight: bold;
        color: var(--dark-gray-2);
        margin-left: 90px;
    }
    
}

.cardsProdutos {
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
    width: 1235px;

}
.produtoImage {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 320px;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07); padding: 20px;

    img {
        margin: 30px 10px;
        
    }
}
.produtoDescricao {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
    margin-top: 20px;
    h4 {
        font-weight: 700px;
        font-size: 12px;
        color: var(--light-gray);
    }
    h3 {
        font-weight: 400;
        font-size: 24px;
        color: var(--dark-gray-2);
    }
    .old-price {
        font-weight: 400;
        font-size: 24px;
        color: var(--light-gray);
    }
    .new-price {
        font-weight: 700;
        font-size: 24px;
        color: var(--dark-gray);
    }
}

.semDesconto {
    justify-content: center;
}